.header {
  display: flex;
  justify-content: center;
}

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.navbar a{
  color: black;
  font-size: 1.6rem;
  margin-left: 2rem;
  text-decoration: none;
}

.navbar a:hover {
  color: #a49d9d;
}

.navbar a:active {
  color: #726666;
}

.menuNavBar {
  display: none;
}

@media screen and ( max-width : 650px ) {

    .navbar {
      display: none;
    }

    .menuNavBar {
      background-color: white;
      border: none;
      display: block;
    }

    .menuNavBar img:active {
      height: 3rem;
    }
  
  }
