
.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  background-image: url('../image/cadeado.jpg');
}

.Home {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: #343333;
}

.textContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  font-family: 'Imprima', sans-serif;
  color: white;
  margin: 50px;
  font-size:3.5rem;
  padding: 20px;
}

.greenText {
  font-weight: bold;
  color: #39CD63;
}

.buttonInit {
  background-color: #39CD63;
  border: #39CD63;
  border-radius: 10px;
  color: white;
  font-size:2.5rem;
  height: 25%;
  margin-top: 20px;
  width: 50%;
  min-width: min-content;
}

.buttonInit:hover {
  background-color: #2bb352;
}

.buttonInit:active { 
  background-color: #239b45;
  font-weight: bolder;
  width: 102%;
}

@media (max-width: 768px) {
  .Home {
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .textContainer {
    width: 80%;
    font-size: 2rem;
    text-align: center;
  }

  .imgContainer {
    width: 80%;
  }

  .imgContainerTop,
  .imgContainerBottom {
    height: 40%;
  }

  .buttonInit {
    font-size: 1.5rem;
  }
}
