.TipCard {
  align-items: center;
  background-color: white;
  height: 25em;
  justify-content: space-around;
  margin-bottom: 30px;
  text-align: center;
  height: fit-content;
  width: 28%;
}

.imgCard {
  width: 30%;
}

.tipTitle {
  font-family: Holtwood One SC , serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tipContent {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.tipContent{
  width: 80%;
  margin: auto;
}

@media screen and ( max-width : 1500px ) {

  .riskContent {
    font-size: 1.3rem;
  }
}

@media screen and ( max-width : 1000px ) {

  .TipCard {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;
  }

  .tipContent {
    font-size: 2rem;
  }


  .TipCard:nth-child( 2n ) {
    margin-left: 0;
  }
}


@media screen and ( max-width : 650px ) {

  .TipCard {
    width: fit-content;
    height: fit-content;
  }

  .tipContent {
    font-size: 1.5rem;
  }

  .TipCard:nth-child( 2n ) {
    margin-left: 0;
  }
}