.imgContainerTop { 
  height: 100%;
  background-color: aqua;
  clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 0 100%, 31% 69%, 0 0);
;
}

.imgDivision {
  position: absolute;
  background-color: #343333;
  width: 55%;
  height: 10%;
  z-index: 0;
  bottom: 200px;
  right: 0;
}

.Home {
  display: flex;
  height: 90vh;
  justify-content: space-between;
  background-color: #343333;
}

.imgHome {
  height: 100%;
}

.textContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  font-family: 'Imprima', sans-serif;
  color: white;
  font-size:3.5rem;
}

.greenText {
  font-weight: bold;
  color: #39CD63;
}

.buttonInit {
  background-color: #39CD63;
  border: #39CD63;
  border-radius: 10px;
  color: white;
  font-size:2.5rem;
  height: 10%;
  margin-top: 20px;
}

.buttonInit:hover {
  background-color: #2bb352;
}

.buttonInit:active { 
  background-color: #239b45;
  font-weight: bolder;
  width: 102%;
}

@media screen and ( max-width : 1550px ) {
    
    .textContainer {
     font-size: 2rem;
    }

    .imgDivision {
        bottom: 150px;
        width: 50%;
      }
   
}


@media screen and ( max-width : 1180px ) {
    
    .textContainer {
     font-size: 1.5rem;
    }

    .imgDivision {
        width: 70%;
        bottom: 180px;
      }

}

@media screen and ( max-width : 990px ) {
    
    .textContainer {
     font-size: 1.3rem;
     margin-left: 60px;
    }

    .buttonInit {
     height: 10%;
     font-size: 1.1rem;
    }

    .imgDivision {
      top: 330px;
    }
}

@media screen and ( max-width : 1000px ) {

    .imgDivision {
      width: 60%;  
      bottom: 100px;
    }
}

@media screen and ( max-width : 896px ) {

    .imgDivision {
      width: 60%;  
      bottom: 50px;
    }
}

@media screen and ( max-width : 740px ) {
    
    .Home {
      height: 100vh;
    }
    .imgDivision {
      width: 60%;  
      bottom: px;
    }
}