.imgContainerTop { 
  height: 70%;
  background-image: url('../image/cadeado.jpg');
  clip-path: polygon(0 0, 100% 0, 100% 100%, 22% 100%);
;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.imgContainerBottom { 
  height: 20%;
  background-image: url('../image/cadeado.jpg');
  background-position: bottom;
  clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
}

.Home {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  background-color: #343333;
}

.textContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  font-family: 'Imprima', sans-serif;
  color: white;
  font-size:3.5rem;
}

.greenText {
  font-weight: bold;
  color: #39CD63;
}

.buttonInit {
  background-color: #39CD63;
  border: #39CD63;
  border-radius: 10px;
  color: white;
  font-size:2.5rem;
  height: 30%;
  margin-top: 20px;
  width: 50%;
}

.buttonInit:hover {
  background-color: #2bb352;
}

.buttonInit:active { 
  background-color: #239b45;
  font-weight: bolder;
  width: 102%;
}
